* {
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    font-family: "Signika Negative", sans-serif;
}

body {
    background-color: #17181c;
}

a {
    text-decoration: none;
}
.post-container {
    display: flex;
    flex-direction: row;
}

.left-recommend,
.right-recommend {
    width: 25%;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgb(85, 83, 83);
    background-color: #1e1f24;
    box-shadow: 0 2px 4px rgbA(38, 40, 47, 0.1);
    height: 50%;
    
}
.mid-content {
    width: 50%;
}
.read-more{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: rgb(162, 222, 162);
    padding:  0 5px 0 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}
.read-more:hover{
    background-color: rgb(111, 227, 111);
}
.you-may{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
}
.recommend-div {
    /* box-shadow: 0 2px 4px rgbA(255, 255, 255, 0.5); */
    background-color: rgb(85, 83, 83);
    border: 1px solid rgb(85, 83, 83);
    padding: 10px;
    width: 100%;
    margin-top: 10px;
  
}
.navbar {
    display: flex;
    overflow: hidden;
    min-width: 750px;
    border-bottom: 1px solid rgb(85, 83, 83);
    background-color: #1e1f24;
    box-shadow: 0 2px 4px rgbA(38, 40, 47, 0.1);
}
#toggle-emoji-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.logo {
    display: flex;
    justify-content: center;
    min-width: 200px;
    font-size: 20px;
    padding: 20px 10px;
}

.logo > a {
    color: white;
}

.logo > a:hover {
    color: #d8d8d8;
}

.item {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: wrap;
}

.item > a {
    min-width: 100px;
    margin-right: 10px;
    border: 0 2px 0 0;
    width: auto;
    text-align: center;
    overflow: wrap;
    font-size: 20px;
    color: white;
    padding: 20px 10px;
    overflow: hidden;
}

.item a i {
    color: white;
}

.item a i:hover {
    color: #d8d8d8;
    font-size: 25px;
    margin-top: -5px;
}

.set {
    display: none;
    z-index: 999;
    position: absolute;
    top: 10px;
    right: 1px;
    padding: 10px;
    width: 300px;
    background-color: white;
    border: 1px solid black;
    overflow: hidden;
}
.content {
    position: relative;
    display: flex;
    background-color: honeydew;
    overflow: hidden;
    min-width: 750px;
}
.left {
    background-color: red;
    width: 25%;
    min-width: 10%;
    overflow: wrap;
}
.mid {
    background-color: green;
    width: 50%;
    min-width: 10%;
    overflow: wrap;
}
.right {
    background-color: yellow;
    width: 25%;
    min-width: 10%;
    overflow: wrap;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 40%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid grey;
    padding: 10px;
    gap: 10px;
    background-color: #1e1f24;
}

#post_description {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: whitesmoke;
    border: none;
    box-shadow: 0 2px 4px rgbA(255, 255, 255, 0.8);
}
.upload-pic {
    /* background-color: rgb(32, 30, 30);
    width: 100%; */
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
.icon-container{
    width: 100%;
}

/* #uploadBtn {
    width: 100px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background-color: lightgray;
 
} */
.white-icon {
    color: white;
    font-size: 30px;
}
.white-icon:hover{
    color: rgb(68, 68, 255);
}
.submit-image{
    border-radius: 5px;
    border: none;
    background-color: rgb(177, 177, 187);
    padding: 5px;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    box-shadow: 0 2px 6px rgbA(255, 255, 255, 0.8);
}
.submit-image:hover{
    box-shadow: 0 2px 3px rgbA(255, 255, 255, 0.8);
    background-color: whitesmoke;
}

.upload-pic img {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    min-width: 50px;
    height: auto;
    overflow: hidden;
}
#file {
    display: none;
}
img[src=""] {
    display: none;
}
.search-pop {
    position: absolute;
    display: none;
    background-color: white;
    width: 300px;
    height: auto;
    padding: 5px;
    z-index: 5;
    top: 60px;
    left: 650px;
    border-radius: 5px;
    justify-content: center;
}
#search-form{
    display: flex;
    justify-content: center;
    gap: 5px;
}
#search-input{
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    padding-left: 5px;
}
#search-results {
    color: black;
}

.fa-heart {
    font-size: 40px;
    color: white;
}
.fa-heart.liked {
    color: red; /* Set the color to red */
}
.noti-container{
   display: flex;
   justify-content: center;
   align-items: center;
}
.dis-noti{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgbA(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    width: 600px;

}
.upper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.upper > p{
    background-color: rgb(87, 81, 81);
    border: 1px solid rgb(78, 76, 76);
    color: white;
    padding: 5px;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
    font-style: italic;
}
.lower{
    border-top: 1px solid black;
    padding-top: 5px;
}